body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}
p {
	margin: 0 0 1.5em 0;
}
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
    #main-header {
        background: #333;
        color: white;
        height: 80px;
    }	
        #main-header a {
            color: white;
        }
        #main-header {
            background: #333;
            color: white;
            height: 80px;
            
            width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
            left: 0; /* Posicionamos la cabecera al lado izquierdo */
            top: 0; /* Posicionamos la cabecera pegada arriba */
            position: fixed; /* Hacemos que la cabecera tenga una posición fija */
        }